
run = "python3 -m http.server"
modules = ["web"]

[nix]
channel = "stable-24_05"

[deployment]
run = "python3 -m http.server"
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39510940
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server"
